<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1> Team Name: <%=@teamname%> </h1>
     <h2> Coach: <%=@coachname%> </h2>
    <h3> Point Guard: <%=@pointguard%> </h3>
    <h4> Shooting Guard: <%=@shootingguard%> </h4>
    <h5> Small Forward: <%=@shortforward%> </h5>
    <h6> Power Forward: <%=@powerforward%> </h6>
    <h7> Center: <%=@center%> </h7>
 </body>
</html>


